@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors */

/* Primary Colors */
:root {
    --green-200: hsl(148, 38%, 91%);
    --green-600: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);

    /* Neutral Colors */
    --white: hsl(0, 0%, 100%);
    --grey-500: hsl(186, 15%, 59%);
    --grey-900: hsl(187, 24%, 22%);
}

/* Typography */

/* Body Copy */
body {
    font-size: 16px; /* Labels */
    font-family: 'Karla', sans-serif;
    font-weight: 400; /* Regular weight */
}

/* To apply different weights, you can use the following classes */
.bold {
    font-weight: 700; /* Bold weight */
}

.border-width { 
    border-width: 1px;
}

.input-focus {
    border-color: var(--green-600); /* Medium green */
    outline: none;
    box-shadow: 0 0 5px hsl(148, 38%, 91%); /* Lighter green */
}

.input-focus-err {
    border-color: var(--red); /* Medium green */
    outline: none;
    box-shadow: 0 0 5px hsl(148, 38%, 91%); /* Lighter green */
}

input[type=radio] {
    accent-color: hsl(169, 82%, 27%);
}

.radio-selected {
    background-color: hsl(148, 38%, 91%);
    border: 1px solid hsl(169, 82%, 27%);
}

#submit-btn { 
    outline: none;
}

input[type=checkbox] {
    accent-color: hsl(169, 82%, 27%);
    width: 15px;
}

.toast {
    position: fixed;
    top: 30px;
    width: 400px;
    background-color: hsl(187, 24%, 22%);
    padding: 20px;
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    transition: all 1s linear;
}

.toast > div {
    display: flex;
    align-items:  center;
    gap: 10px;
    margin-bottom: 20px;
}

.toast img {
    width: 14px;
}

.toast span {
    font-weight: bold;
}

.toast.hidden {
    transform: translateY(-400px);
}

@media screen and (max-width: 400px) {
    .toast {
        width: 300px;
    }
}